<html>
    <head>
        <meta charset="UTF-8">
        <script type="text/javascript" src="../scripts/fsReader.js"></script>
    </head>

    <body>

        <h1>Matemática Discreta</h1>
        <h3>select file</h3>
	    <input type="file" id="file">
	    <p>Then click Read button to read the file's content.</p>
        <button onclick="txtInput()">Read</button><br />
	    <h1>Content of loaded file</h1>
        <textarea id="inputTextToSave"></textarea> <br />
	   <!-- <h1>Save the file</h1>
	    <button onclick="savefile()">Save</button>
        <p id="dlink">Click save button to generate download link.</p>-->
        
        <button onclick="setGroups()">Set Groups</button>
        <h1>Show groups</h1>
        <textarea id="inputGroups"></textarea>

    </body>
</html>